#myvideo{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.navbar {
    background-color: white;
    min-height: 70px;
    font-weight: bold; }

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 850px;
}
.home {
    min-height: 850px;
    background-size: cover;
    background-attachment: fixed; 
}
.nav-link{
    color: black;
}
.nav-link:hover{
    color: gray;
}
.home-inner {
    padding-top: 150px; }
footer{
    height: 200px;
}
.footer{
    padding-top: 40px;
}
.mid{
    min-height: 2200px;
    width: 100%;
    background-color: #f6f6f6;
}
.break{
    width: 100%;
    height: 1px;
    background-color: black;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 400px;
    padding: 20px;
    padding-top: 50px;
    width: 80%;
    background-color: white;
}
.mid-cards{
    padding-top: 150px;
}
.bb{
    margin-top: 2rem;
    border: 0;
    height: 5px;
    width: 50px;
    background:  rgb(252,124, 15);
    margin-left: 0;
}
.past{
    min-height: 800px;
    width: 100%;
}
.reg-form{
    background: url(fest.jpg) no-repeat;
    min-height: 800px;
    background-size: cover;
    background-attachment: fixed; 
}
.dark-overlay-a{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    min-height: 800px;
}
.reg-card{
    padding: 30px;
    width: 80%;
    min-height:500px;
    background-color: rgba(255,255,255,0.3);
    border-radius: 3px;
}
.reg-form-inner{
    padding: 30px;
    padding-top: 60px;
}
.form-input{
    width: 95%;
    height: 36px;
    background-color: rgba(255,255,255,0.3);
    margin-bottom: 11px;
    border: none;
    border-radius: 3px;
    color: white;
    padding-left: 15px;
}
.form-input::placeholder {
    color: white;
    font-size: 15px;
     }

.form-input-select::placeholder {
        color: white;
        font-size: 15px; }
    
.form-input-select{
        width: 98%;
        height: 36px;
        background-color: rgba(255,255,255,0.3);
        margin-bottom: 11px;
        border: none;
        border-radius: 3px;
        color: white;
        padding-left: 20px;
    }
.btn-ext-url {
        border-radius: 2px;
        display: block;
        color: white;
        width: 100%;
        background-color: #f5a425;
        padding: 8px 15px; }